<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="automationpractice Test Automation Test Suite">

	

	<test name="automationpractice Test Cases">
		<classes>
			<class name="com.automationpractice.test.SignUPTest"></class>
			<class name="com.automationpractice.test.LandingPageTest"></class>
			
		</classes>
	</test>
</suite>